:root {
  --yellow: #f5b433;
  --light-blue: #8dc1df;
  --dark: #1e1e1e;
  --extra-dark: #050505;
  --gray: #363636;
  --light-gray: #aac8c8;
  --header-bar-h: 60px;
}

#workspace {
  position:fixed;
  inset: var(--header-bar-h) 0 0 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: blue;
}
